/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    height: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h1 {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navLink {
    color: var(--primary);
    text-decoration: none;
}

.navLink:hover {
    color: var(--dark);
}

.controls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    width: auto;
    height: 20px;
    transform: translateY(10%);
}

.favicon-img {
    height: 25px;
}
