.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: auto;
    height: 20px;
    transform: translateY(10%);
}

.favicon-img {
    height: 25px;
    margin-right: 0.2rem;
}

.desktop-menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-btn:hover {
    color: var(--dark);
}

.mobile-toggler {
    display: none;
}

.menu {
    background-color: var(--secondary);
    padding: 1rem;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-toggler {
        display: block;
    }
}