/* components/Sidebar/Sidebar.module.css */
.sidebar {
    position: sticky;
    top: 1.5rem;
    /* Add top margin */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .sticky {
        position: sticky;
        top: 1.5rem;
        /* Add top margin */
    }
}