.proConContainer {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.proCon {
    display: flex;
    justify-content: space-between;
}

.pros,
.cons {
    width: 48%;
}

.positiveEmoji,
.negativeEmoji {
    margin-right: 5px;
}