.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--gunmetal);
    border-radius: var(--border-radius);
}

.filterItem {
    flex: 1;
    padding: 0 1rem;
}

.filterTitle {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--antique-white);
}

.dropdown {
    width: 100%;
    background-color: var(--antique-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    font-family: var(--font-text);
    color: var(--gunmetal);
}

.radioContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.radioLabel {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--antique-white);
    cursor: pointer;
}

.radioInput {
    margin-right: 0.5rem;
}
