.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gunmetal);
    padding-top: 2rem;
    padding-bottom: 5rem;
    color: var(--antique-white);
    text-align: center;
}

.logo-container {
    position: relative;
    width: 700px;
    height: 300px;
    overflow: hidden;
    padding-bottom: 5rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--old-rose);
}
