/*Hero.module.css*/

.jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 50%;
    padding: 2rem;
    order: 2;

    @media (max-width: 767px) {
        max-width: 100%;
        text-align: center;
        padding: 1rem;
        order: 2;
    }
}

.logo-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0;
    order: 1;
}

.logo-container img {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.h1 .p {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--primary);
    padding: 2rem;
    padding-top: 1rem;
    max-width: 800px;
    min-width: 320px;
}

.cta-button {
    margin-top: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.cta-button:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

/* On mobile devices, stack the text-container and logo-container */
@media (max-width: 767px) {
  .jumbotron {
    flex-direction: column;
    height: auto; /* Change the height to auto */
  }

  .text-container,
  .logo-container {
    padding: 2rem;
  }
}
