/* LanguageSwitcher.module.css */
.switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--old-rose);
}

.icon,
.lang-text {
    font-size: 1rem;
    color: var(--old-rose);
    transition: color 0.3s ease;
}

.switch:hover .icon,
.switch:hover .lang-text {
    color: var(--moonstone);
}