.tool-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tool-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.logo-container {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.tool-logo {
    height: auto;
    max-height: 100%;
    max-width: 50%;
    width: auto;
    object-fit: contain;
    margin: auto;
}

.tool-name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.tool-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tool-link {
    color: var(--deep-cerulean);
    text-decoration: none;
    font-weight: bold;
}

.tool-link:hover {
    text-decoration: underline;
}