/* ScrollButton.module.scss */
.scrollButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--old-rose);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    animation: bounce 2s infinite;
    bottom: 2.5rem;
        /* Add this line */
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    40% {
        transform: translateY(-30px) translateX(-50%);
    }

    60% {
        transform: translateY(-15px) translateX(-50%);
    }
}