/* ScrollButton.module.scss */
.scrollButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    animation: pulsate 2s infinite;
    bottom: 2.5rem;
}

.arrow {
    font-size: 1.5rem;
}

@keyframes pulsate {
    0% {
        transform: scale(1) translateX(-50%);
        opacity: 1;
    }

    50% {
        transform: scale(1.2) translateX(-50%);
        opacity: 0.5;
    }

    100% {
        transform: scale(1) translateX(-50%);
        opacity: 1;
    }
}